.container {
    width: 80%;
    margin: 40px auto;
    align-content: center;
}

.Projectgroupside {
    width: 25%;
    padding: 20px;
    align-content: center;
}

.projectgroupcenter {
    width: 50%;
    padding: 20px;
    align-content: center;
}

.image {
    margin-bottom: 20px;
}